[Desktop Entry]
Type=Application
Version=1.0
Name=WaveFlow
GenericName=Music Player
GenericName[fr]=Lecteur de musique
Comment=Local-first music player with a Spotify-inspired UI
Comment[fr]=Lecteur de musique local avec une interface inspirée de Spotify
Exec=waveflow
Icon=app.waveflow.WaveFlow
Terminal=false
StartupNotify=true
StartupWMClass=app.waveflow.WaveFlow
Categories=AudioVideo;Audio;Player;Music;
Keywords=music;player;audio;flac;mp3;dsd;library;playlist;lyrics;scrobble;equalizer;
Keywords[fr]=musique;lecteur;audio;flac;mp3;dsd;bibliothèque;playlist;paroles;scrobble;égaliseur;
SingleMainWindow=true
